@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
	display: none;
}

.featured-post-image {
	display: block;
	height: 240px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 375px) {
	.featured-post-image {
		height: 180px;
	}
}

.post-header-image {
	display: block;
	height: 320px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Class to disable scrolling on the body when a modal is active */
body.disable-scroll {
	height: 100vh;
	overflow: hidden;
}
/* And hide the theme toggle button to prevent flickering */
body.disable-scroll #theme-toggle {
	display: none;
}