@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.featured-post-image {
	display: block;
	height: 240px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 375px) {
	.featured-post-image {
		height: 180px;
	}
}

.post-header-image {
	display: block;
	height: 320px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}